#  Basic tuple

In [28]:
# How to create a tuple
t=()
print(t)

#  single tuple
t1=(1,)
print(t1,type(t1))

#  Homogenous tuple

t2=(1,2,3,4)
print(t2)

#  heterogeneous tuple
t3=(1,5.0,3.1,'hello')
print(t3,type(t3))

#  nested tuple 

t4=(1,2,3,(4,5))
print(t4)

#  type conversion 
t5=tuple('12')
print(t5)

()
(1,) <class 'tuple'>
(1, 2, 3, 4)
(1, 5.0, 3.1, 'hello') <class 'tuple'>
(1, 2, 3, (4, 5))
('1', '2')

In [20]:
# How to access an item in a tuple using idx, slicing

m=(1,2,3,4,5,(6,4,6,(8,0,5)))
print(m)
print(m[5][3][2])
print(t3[-1])
print(m[::-1])

(1, 2, 3, 4, 5, (6, 4, 6, (8, 0, 5)))
5
hello
((6, 4, 6, (8, 0, 5)), 5, 4, 3, 2, 1)

In [30]:
#  delation in tuple 
# print(t3)
# del t3
# print(t3)

In [26]:
print(t2)

t2[-1:-4:-1]

(1, 2, 3, 4)

(4, 3, 2)

In [40]:
#  operation in tuple 
print(t3)

print(t3+t5)

print(t3*5)
#  membership op in 
print(1 in t3)
#  not in 
print(1 not in t3)

#  loop in tuple
for i in t3:
    print(i*2)

(1, 5.0, 3.1, 'hello')
(1, 5.0, 3.1, 'hello', '1', '2')
(1, 5.0, 3.1, 'hello', 1, 5.0, 3.1, 'hello', 1, 5.0, 3.1, 'hello', 1, 5.0, 3.1, 'hello', 1, 5.0, 3.1, 'hello')
True
False
2
10.0
6.2
hellohello
4

In [58]:
#  function in tuple 
T=(145,256,88,25,45)
print (T)
print(len(T))
print(max(T))
print(sum(T))
print(min(T))
print(sorted(T))
print(sorted(t,reverse=True))

print(T.count(25))

(145, 256, 88, 25, 45)
5
256
559
25
[25, 45, 88, 145, 256]
[]
1

In [59]:
#  unpaking tuple 
a,b,c=(1,2,3)
print(a,b,c)

a,b=(1,2,3)

1 2 3