In [5]:
#  create args fn 
#  to gte a n number of input 
def ieven(*ar):
    for i in ar:
        if(i%2==0):
            print(i)
# ieven(10,20,30,49,40,50,80,60,50,465,42,64,2165,4,55,451221,4) 
ieven(1,2,4,5,5,8,5)

2
4
8

In [15]:
#  **kw args mean paramaeter dictionary chya forme madhe ghet 
def display(**kwargs):
    for (key,value) in kwargs.items():
        print(key,"->",value)

In [16]:
display(india="rohit sharma" ,pakistan="mohammad sahi",japan="kokou")

india -> rohit sharma
pakistan -> mohammad sahi
japan -> kokou