In [2]:
#  set 
s=set({})
print(s)
print(type(s))

set()
<class 'set'>

In [12]:
s={1,2,3,4,5,6,1}
print(type(s),s)

<class 'set'> {1, 2, 3, 4, 5, 6}

In [17]:
#  Delating  in set 
print(s)
# del s
s.discard(6)
print(s)
s.pop()
print(s)
s.clear()
print(s)

{3, 4, 5}
{3, 4, 5}
{4, 5}
set()

In [24]:
#  function in set 
#  union

s1={1,2,3,4,5}
s2={1,4,7,8,9}
s1 | s2 
# intersection 
s1 & s2
 # difference 
s1-s2
# symentryc diff
s1^s2

{2, 3, 5, 7, 8, 9}

In [46]:
#  in the form of function 
s1.union(s2)
print("s1 is = ",s1,"s2 is =",s2)
s1.update (s2)
print("s1 is = ",s1,"s2 is =",s2)

s1.intersection(s2)
print("instersection")
print("s1 is = ",s1,"s2 is =",s2)

s1.intersection_update(s2)
print("defference")
s1.difference(s2)

print("s1 is = ",s1,"s2 is =",s2)
s1.difference_update(s2)

print("Symetric diff")
s1.symmetric_difference(s2)
print("s1 is = ",s1,"s2 is =",s2)

s1 is =  set() s2 is = {1, 4, 7, 8, 9}
s1 is =  {1, 4, 8, 7, 9} s2 is = {1, 4, 7, 8, 9}
instersection
s1 is =  {1, 4, 8, 7, 9} s2 is = {1, 4, 7, 8, 9}
defference
s1 is =  {1, 4, 7, 8, 9} s2 is = {1, 4, 7, 8, 9}
Symetric diff

{1, 4, 7, 8, 9}

In [14]:
s={5, 798, -2, 5, 6}
s.pop()

-2

In [27]:
#  builting funtion 
len(s1)
min(s1)
max(s1)
sorted(s1,reverse=True)

[5, 4, 3, 2, 1]

In [54]:
#  set function
 # isjoint
s1.isdisjoint(s2)

s2.issubset(s1)

s2.issuperset(s1)

True

# frozenset

In [69]:
 # union operation in frozenset 
fs1=frozenset([1,2,3,4,5])
fs2=frozenset([7,8,9,4,5])
fs1 | fs2
print(fs1,fs2)
#  intersection
 print(fs1&fs2)
#  diff
print(fs1-fs2)

#  symmitrric diff4
fs1 ^ fs2

frozenset({1, 2, 3, 4, 5}) frozenset({4, 5, 7, 8, 9})
frozenset({4, 5})
frozenset({1, 2, 3})

frozenset({1, 2, 3, 7, 8, 9})

In [75]:
# 2d frozenset 

fs=frozenset([1,2,3,4,5,frozenset([7,8,9])])
print(fs)

frozenset({1, 2, 3, 4, 5, frozenset({8, 9, 7})})

In [80]:
#  set compriantion 
{i for i in range(1,11) if i%3==0}

{3, 6, 9}