#  disctionary

In [22]:
#  syntax

dic={'name':'rohit','age':'19'}
print(dic)
#  empty dic
dic={}
print(type(dic))
#  2d dict

collage={
    'name':'rohit',
    'roll No':'90',
    'prn':'231102107',
    'subject':{
        'dsa':90,
        'math':80,
        'english':50,
    }
}
print(collage)

{'name': 'rohit', 'age': '19'}
<class 'dict'>
{'name': 'rohit', 'roll No': '90', 'prn': '231102107', 'subject': {'dsa': 90, 'math': 80, 'english': 50}}

In [25]:
#  type conversion 
d4 = dict([('name','nitish'),('age',32),(3,3)])
d4

TypeError: 'set' object is not callable

In [34]:
#  duplicate key in dict 
dic={'name':'rohit','name':'bhushan'} # always add updated value in dict 
dic
#  mutable iteam as a key 
di={'name':'rohit','value':5,(1,2,3):55}
print(di)
type(dic)

{'name': 'rohit', 'value': 5, (1, 2, 3): 55}

dict

In [37]:
#  accesing item in dict 
dic['name']

'bhushan'

In [39]:
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{key:value for (key,value) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [57]:
products = {'phone':10,'laptop':0,'charger':32,'tablet':0} 
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}